server:
  port: 8080

spring:
  mvc:
    static-path-pattern: /**
  web:
    resources:
      static-locations: classpath:/static/

logging:
  level:
    com.arcade.arcadesocial: DEBUG
    org.springframework.web.socket: TRACE